<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dou.server.mapper.DeviceMapper">

    <select id="getList" resultType="com.dou.server.model.Device">
        SELECT device.create_date,device.create_user,device.update_date,device.update_user,
        u.user_name createUserName,device.id,device.inspection_meter,device.is_periodic_inspection,
        device.inspection_date,device.is_required_save FROM t_device device
        left join sys_user u on u.id = device.create_user
        where 1 = 1
        <if test="inspectionDate !=null">
            and device.inspection_date = date_format(#{inspectionDate},'%Y-%m-%d')
        </if>
    </select>
</mapper>