@banner-height: 90px;
@global-width: 1000px;

.border {
  border: 1px solid #000;
}
.all-center {
  align-items: center;
  justify-content: center;
}
.min-width {
  min-width: @global-width;
}
@import './color.less';
@import './antdv.less';